<h1><%= @place.name %></h1>

<%if @current_user %>
  <h2>My Posts</h2>
  <div class="row">
  <% for post in @place.posts %>
    <div class="col-md-3 col-sm-6">
      <h3><%= post.title %></h3>
      <h4><%= post.posted_on %></h4>
      <p><%= post.description %></p>
    </div>
  <% end %>
  </div>

  <p>
    <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
  </p>
<%else%>
  You must first <a href="/sessions/new">login</a> to see & post.
<%end%>
<p>
  <a href="/places">Back to All Places</a>
</p>